{% extends "base.html" %}

{% block content %}
    <h1> Создать Класс </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p> <font size="4">
             {{ form.class.label }}<br>
             {{ form.class(class="form-control", type="email") }}<br>
             {% for error in form.class.errors %}
                 <div class="alert alert-danger" role="alert">
                     {{ error }}
                 </div>
            {% endfor %}
       </font> </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p></form>


{% endblock %}